<h3>Card Creator</h3>
<form method="POST">

  <div class="form-group">
    <label>Name</label>
    <input type="text" value="{{card.name}}" name="coordinator" class="form-control">
  </div>

  <div class="form-group">
    <label>Price</label>
    <input type="number" value="{{card.price}}" name="title" class="form-control">
  </div>

  <div class="form-group">
    <label>Category</label>
    <input type="text" value="{{card.category}}" name="description" class="form-control">
  </div>

  <div class="form-group">
    <label>Open Time</label>
    <input type="number" value="{{card.openTime}}" name="starttime" class="form-control">
  </div>

  <div class="form-group">
    <label>Closing Time</label>
    <input type="number" value="{{card.closingTime}}" name="closetime" class="form-control">
  </div>

  <div class="form-group">
    <label>Closing Time</label>
    <input type="number" value="{{card.closingTime}}" name="closetime" class="form-control">
  </div>

    <div class="form-group">
    <label>Closing Time</label>
    <input type="number" value="{{card.closingTime}}" name="closetime" class="form-control">
  </div>



  <div class="form-group">
    <button class="btn btn-success">Save restaurant</button>
    <a class="btn btn-danger" href="/restaurants">Delete restaurant</a>
    <a class="btn btn-default" href="/restaurants">Cancel</a>
  </div>
</form>



  // getReviews(), //review ids
  virtual stars, from reviews array
  latitude: Number,
  longitude: Number,
